<section class="project-cs-hero" id="p2-hero">
  <div class="project-cs-hero__content">
    <h1 class="heading-primary">SpellWell</h1>
    <div class="project-cs-hero__info">
      <p class="text-primary">
        Fun analysis for Dungeons & Dragons players! With an inventory of
        spells, why not just fire off what you feel like? <br />
        This is why.
      </p>
    </div>
    <div class="project-cs-hero__cta">
      <a
        href="https://spellwell-moon.web.app/main"
        class="btn btn--bg"
        target="_blank"
        aria-disabled="true"
        >Live Link</a
      >
    </div>
  </div>
</section>
<section class="project-details">
  <div class="main-container">
    <div class="project-details__content">
      <div class="project-details__showcase-img-cont">
        <img
          src="./assets/png/project-2.png"
          alt="Project Image"
          class="project-details__showcase-img"
        />
      </div>
      <div class="project-details__content-main">
        <div class="project-details__desc">
          <h3 class="project-details__content-title">Project Overview</h3>
          <p class="project-details__desc-para">
            SpellWell performs a comparative analysis of calculated hit
            percentages between spell saving throw types. Do I use the
            constitution-save spell or the intelligence-save spell? For a simple
            tabletop fantasy game, there's a surprising amount of variables that
            goes into optimizing that answer. This app seeks to pull some of
            those variables together and come up with an actual answer to "Which
            is the best spell?"
          </p>
          <p class="project-details__desc-para">
            A quick note: for most people, this directly detracts from the fun
            of the game. But for analytically-minded people like me, that
            doesn't matter. The fun is not in vanquishing foes, but in finding
            the high point in the graph.
          </p>
          <h3 class="project-details__content-title">SpellWell's Future</h3>
          <ul class="project-details__desc-para">
            <li>
              I'll set up authentication pretty quickly here so people can save
              their characters and develop a log of monsters they know.
            </li>
            <li>
              The spell set is from a limited list. I'll upgrade it to include
              the full set in the future once I process the spells provided by
              <a href="5e.tools">5e.tools</a>
            </li>
            <li>
              Above I state that I use <em>some</em> of the variables, which is
              true. There are also conditions that can be applied to both the
              hero and the enemy that can affect hit chance. I'll add those,
              too.
            </li>
            <li>
              The looks to functionality of this app is skewed toward
              functionality. The site could use a face lift and I'll provide it
              at some point.
            </li>
          </ul>
          <p class="project-details__desc-para">
            A final note: If none of this makes sense to you, you're probably
            neither a numbers nor RPG geek. That's okay. That probably makes you
            more normal rather than less.
          </p>
        </div>
        <div class="project-details__tools-used">
          <h3 class="project-details__content-title">Tools Used</h3>
          <div class="skills">
            <div class="skills__skill">Angular</div>
            <div class="skills__skill">TypeScript</div>
            <div class="skills__skill">NgRx</div>
            <div class="skills__skill">HTML</div>
            <div class="skills__skill">CSS</div>
            <div class="skills__skill">SASS</div>
            <div class="skills__skill">GIT</div>
            <div class="skills__skill">Firebase Hosting</div>
            <div class="skills__skill">Firebase Firestore</div>
          </div>
        </div>
        <div class="project-details__links">
          <h3 class="project-details__content-title">See Live</h3>
          <a
            href="https://spellwell-moon.web.app/main"
            class="btn btn--med btn--theme project-details__links-btn"
            target="_blank"
            >Live Link</a
          >
          <a
            href="https://github.com/Sven-Moon/spellwell"
            class="btn btn--med btn--theme-inv project-details__links-btn"
            target="_blank"
            >Code Link</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
