<section class="project-cs-hero" id="p3-hero">
  <div class="project-cs-hero__content">
    <h1 class="heading-primary">SellPhone</h1>
    <div class="project-cs-hero__info">
      <p class="text-primary">
        It's where you sell your phone. Gathering proof that it's actually
        <em>your phone</em> to sell is <em>definitely</em> on our list of things
        to do.
      </p>
    </div>
    <div class="project-cs-hero__cta">
      <a
        href="https://sellphone-ng.web.app/"
        class="btn btn--bg"
        target="_blank"
        >Live Link</a
      >
    </div>
  </div>
</section>
<section class="project-details">
  <div class="main-container">
    <div class="project-details__content">
      <div class="project-details__showcase-img-cont">
        <img
          src="./assets/png/project-3.png"
          alt="Project Image"
          class="project-details__showcase-img"
        />
      </div>
      <div class="project-details__content-main">
        <div class="project-details__desc">
          <h3 class="project-details__content-title">Project Overview</h3>
          <p class="project-details__desc-para">
            My first idea for an app was handed to me by a coworker who was
            running a side hustle of selling used phones. He needed a way to
            communicate the prices users could expect to get for a given phone
            in a given condition.
          </p>
          <p class="project-details__desc-para">
            SellPhone fulfills that need. It also goes a little bit further by
            offering the ability to create a sales order that precedes the
            transaction.
          </p>
          <p class="project-details__desc-para">
            As stated above, this was my first application, so it's riddled with
            inefficiencies and it probably comes across as pretty awkward, even
            as it fails to do anything of any serious complexity. BUT it works
            without a bunch of errors, despite it being my first attempt. So
            that's great.
          </p>
          <p class="project-details__desc-para">
            After having not touched it for some time and having learned a great
            deal with respect to how I could improve it both in presentation and
            structure, I've decided to leave it untouched. I'd like to keep it
            preserved so I can appreciate how far I've come in the future, as I
            can when I go back and look at my 3rd grade writings I was once so
            proud of. Also it's a lot of effort I could put to better use
            elsewhere.
          </p>
          <h3 class="project-details__content-title">What I learned</h3>
          <p class="project-details__desc-para">
            Everything you see in this app is my first attempt. Okay, maybe I
            knew how to make a span of text <b>bold</b> before, but everything
            else was new, approached for the first time. I don't have anything
            to compare it to, but I was impressed at how accessible Angular is.
            The model makes sense. NgRx is ... powerful, but difficult to make
            use of when you don't first have a foundation in RxJs.
          </p>
          <p class="project-details__desc-para">
            Certain complex tools like NgRx, I can say now that I didn't really
            "get" until later, so listing that is probably a little
            "optimistic," but it was used without crashing the site.
          </p>
        </div>
        <div class="project-details__tools-used">
          <h3 class="project-details__content-title">Tools Used</h3>
          <div class="skills">
            <div class="skills__skill">Angular</div>
            <div class="skills__skill">NgRx</div>
            <div class="skills__skill">RxJs</div>
            <div class="skills__skill">HTML</div>
            <div class="skills__skill">CSS</div>
            <div class="skills__skill">TypeScript</div>
            <div class="skills__skill">GIT</div>
          </div>
        </div>
        <div class="project-details__links">
          <h3 class="project-details__content-title">See Live</h3>
          <a
            href="https://sellphone-ng.web.app/"
            class="btn btn--med btn--theme project-details__links-btn"
            target="_blank"
            >Live Link</a
          >
          <a
            href="https://github.com/Sven-Moon/SellPhone-Ng"
            class="btn btn--med btn--theme-inv project-details__links-btn"
            target="_blank"
            >Code Link</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
