@import './app/sass/abstracts/utilities';
@import './app/sass/abstracts/base';
@import './app/sass/abstracts/mixins';
@import './app/sass/abstracts/variables';

.skills {
  display: flex;
  flex-wrap: wrap;

  &__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(#999, 0.2);
    border-radius: $commonBorderRadius;
    font-weight: 600;
    color: #777;
  }
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 60px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
  }
}

.pointer {
  cursor: pointer;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}
